<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro"/>

  <xacro:sensor_d435i parent="trunk" name="d435i" use_nominal_extrinsics="true">
    <origin xyz="0.326 0 0.043" rpy="0 0 0"/>
  </xacro:sensor_d435i>

  <gazebo reference="d435i_link">
    <sensor name="d435i_rgbd" type="rgbd_camera">
      <pose>0 0 0 0 0 0</pose>
      <always_on>true</always_on>
      <update_rate>15</update_rate>
      <visualize>false</visualize>
      <topic>d435i/rgbd</topic>
      <camera>
        <frame_id>d435i_color_optical_frame</frame_id>
        <horizontal_fov>1.21126</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>10.0</far>
        </clip>
        <depth_camera>
          <clip>
            <near>0.1</near>
            <far>10.0</far>
          </clip>
        </depth_camera>
      </camera>
    </sensor>
  </gazebo>

</robot>